.teste {
  width: 100vw; 
  height: 100vh; 
  background-color: #66d966; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: flex;
  width: 84%;
  height: 70vh; 
  border: 2px solid white; 
  background-color: #66d966; 
}

.column {
  display: flex;
  flex-direction: column;
}

.rectangle-column {
  flex-basis: 50%; /* Define a largura da coluna dos retângulos */
}

.square-column {
  flex-basis: 25%; /* Define a largura das colunas dos quadrados */
}

.rectangle {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden; /* Isso ajuda a cortar qualquer parte extra da imagem */
}



.rectangle .image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para preencher o contêiner sem distorção */
  object-position: center; /* Centraliza a imagem */
}


/* Estilo para o texto central */
.center-text {
  font-size: 1.2rem;
  margin-top: auto;
}

/* Estilo para a seta na parte inferior */
.arrow {
  font-size: 1.5rem;
  margin-top: auto;
  align-items: center;
}

.square {
  position: relative;
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  padding: 10px;
  /* overflow: hidden;  */
}


.square .image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
}


.number {
  position: absolute;
  top: -25px; /* Move o número para fora, acima da linha do quadrado */
  left: 50%; /* Centraliza o número horizontalmente */
  transform: translateX(-250%); /* Ajusta para que o número fique exato no centro */
  font-size: 1.5rem;
  color: white;
  background-color: #66d966; /* Cor de fundo para o número */
  padding: 8px 10px; /* Tamanho do número */
  z-index: 10; /* Garante que o número fique acima da borda do quadrado */
}



.center-text {
  font-size: 1.2rem;
  margin: auto 0; 
}

.arrow {
  font-size: 1.5rem;
  align-items: center;
}


  
  
  
  
  