.teste {
  width: 100vw; /* Ocupa a largura total da tela */
  height: 100vh; /* Ocupa a altura total da tela */
  background-color: #66d966; /* Fundo verde para a seção toda */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: flex;
  width: 84%;
  height: 70vh; /* Ocupa 70% da altura da seção pai */
  border: 2px solid white; /* Borda branca ao redor do grid */
  background-color: #66d966; /* Fundo verde para o grid */
}

.column {
  display: flex;
  flex-direction: column;
}

.rectangle-column {
  flex-basis: 50%; /* Define a largura da coluna dos retângulos */
}

.square-column {
  flex-basis: 25%; /* Define a largura das colunas dos quadrados */
}

.rectangle {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden; /* Isso ajuda a cortar qualquer parte extra da imagem */
}



.rectangle .image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para preencher o contêiner sem distorção */
  object-position: center; /* Centraliza a imagem */
}


/* Estilo para o texto central */
.center-text {
  font-size: 1.2rem;
  margin-top: auto;
}

/* Estilo para a seta na parte inferior */
.arrow {
  font-size: 1.5rem;
  margin-top: auto;
  align-items: center;
}



.square {
  position: relative;
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  padding: 10px;
  overflow: hidden; /* Isso ajuda a cortar qualquer parte extra da imagem */
}

.square .image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para preencher o contêiner sem distorção */
  object-position: center; /* Centraliza a imagem */
}

.number {
  position: absolute;
  top: -18px;
  left: 5px;
  font-size: 1.5rem;
  color: var(--cor-laranja);
  margin-left: 10px;
  background-color: #66d966;
}

.center-text {
  font-size: 1.2rem;
  margin: auto 0; /* Centraliza verticalmente o texto */
}

.arrow {
  font-size: 1.5rem;
  align-items: center;
}

  
  
  
  
  