.aluno-instituicao-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--cor-verde);
    border-radius: 12px;

    padding: 0px 24px;
}

.logotipo-aluno-instituicao{
    width: 200px;
}

.chamada-aluno-instituicao-seletor {
    color: var(--cor-branca);
    text-align: center;
}

.container-botoes-seletor {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: .5rem;
}

.container-botoes-seletor button {
    background-color: var(--cor-verde);
    border: 2px solid var(--cor-branca);
    color: var(--cor-branca);
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}