.cadastro-aluno-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;

    gap: 20px;
    color: var(--cor-branca);
    background-color: var(--cor-verde);
    border-radius: 12px;
}

.container-titulo-subtitulo-cadastro {
    text-align: center;
}

.container-titulo-subtitulo-cadastro h1 {
    font-size: 2em;
}

.container-inputs-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    max-width: 600px;
}

.conatiner-input-icon input {
    background-color: var(--cor-verde);
    color: var(--cor-branca);
}

.conatiner-input-icon input::placeholder {
    color: var(--cor-branca);
}
.conatiner-input-icon {
    width: 100%;
    display: flex;
    align-items: last baseline;
    border-bottom: 1px solid var(--cor-branca);
}

.conatiner-input-icon svg {
    font-size: 18px;
    margin-right: 12px;
}

.botao-formulario-cadastro {
    margin-top: 16px;
    width: 100%;
    height: 44px;
    font-size: 1em;
    max-width: 450px;
    background-color: var(--cor-verde);
    border: 2px solid var(--cor-branca);
    color: var(--cor-branca);
    border-radius: 5px;
}