/* CSS para CardCadastro */

.container-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  width: 100%;
}

.frase-cadastro {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-right: 20px; /* Espaço entre frase e cards */
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-cadastro {
  width: 300px;
  height: 230px;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease; /* Transição suave */
}

.card-cadastro:nth-child(odd) {
  transform: translateX(-40px); /* Desloca o card ímpar para a esquerda */
}

.card-cadastro:nth-child(even) {
  transform: translateX(40px); /* Desloca o card par para a direita */
}

.layout-cadastro {
  width: 100%;
  height: 100px;
}

.layout-cadastro img{
  width: 100%;
  height: 500px;
  margin-top: -50px;
  filter: contrast(2.40) brightness(0.3); /* Ajuste de contraste e brilho */
}

.empresa-instituicao-botao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

/* Responsividade */
@media (max-width: 600px) {
  .container-cadastro {
      flex-direction: column;
      align-items: center;
  }

  .frase-cadastro {
      margin: 0 0 10px 0;
      text-align: center;
  }

  .card-cadastro {
      width: 90%;
      transform: translateX(0); /* Remove o deslocamento em telas pequenas */
  }
}


  

  


  
    