.footer {
    width: 100vw;
    backdrop-filter: blur(10px) saturate(180%);
}

.top-footer {
    padding: 12px 24px;
}

.top-footer ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
}

.bottom-footer {
    text-align: center;
    padding: 0px 0px 12px 0px;
}

.icon-rede-footer svg{
    font-size: 25px;
    color: var(--cor-laranja);
}