.footer {
    width: 100vw;
    background-color: #0000ff;
}

.top-footer {
    padding: 12px 24px;
}

.top-footer ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
}

.bottom-footer {
    text-align: center;
}

.icon-rede-footer svg{
    font-size: 25px;
    color: var(--cor-laranja);
}