.marketing-agency-container {
  background-image: url('../img/banner.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  position: relative;
  background-repeat: no-repeat;
  background-color: #fff; /* Adiciona um fundo branco em caso de corte da imagem */
  transition: background-image 0.3s ease;
}

.marketing-content {
  color: black;
  text-align: left;
  padding: 10px;
  max-width: 600px;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.logo-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}

.agency-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.agency-title {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0; 
}

.agency-subtitle-stack {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; 
  font-size: 3.5rem;
  font-weight: bold;
}

.agency-subtitle-stack .highlighted-text {
  color: #ff6600;
  margin-bottom: 10px;
}

.learn-more-btn {
  margin-top: 20px;
  border: 2px solid #e55b00; 
  border-radius: 8px; 
  color: black;
  padding: 12px 40px; 
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  min-width: 250px; 
}

.learn-more-btn:hover {
  background-color: #e55b00; 
}

.contact-info {
  display: flex;
  gap: 28px; 
  font-size: 0.7rem;
  margin-top: 15px;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: 10px; 
  font-size: 1rem; 
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .marketing-agency-container {
    background-image: linear-gradient(to bottom, rgb(233, 179, 138), white); 
    background-size: 100%;
  }

  .marketing-content {
    left: 20px;
    top: 40%;
    transform: translateY(-40%);
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .marketing-agency-container {
    background-image: none; /* Remove a imagem completamente em telas muito pequenas */
  }

  .marketing-content {
    left: 10px;
    max-width: 95%;
    text-align: center;
  }
}