.banner-container {
  display: flex; /* Flexbox para colocar a imagem à esquerda e o texto à direita */
  justify-content: space-between; /* Cria espaço entre os dois elementos */
  align-items: center; /* Alinha verticalmente no centro */
  height: 80vh; /* Altura do banner */
  margin-top: 10vh; /* Espaço superior */
  padding: 0 20px; /* Adiciona um padding nas laterais */
  background: rgb(102,217,102);
  background: linear-gradient(180deg, rgba(102,217,102,1) 0%, rgba(255,255,255,1) 88%);
}

.banner-content {
  color: black;
  text-align: left; /* Alinha o texto à esquerda */
  padding: 10px;
  max-width: 50%; /* Limita a largura do conteúdo a 50% */
  position: relative;
  z-index: 1; /* Garante que o conteúdo do texto fique acima da imagem */
}

.logo-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.banner-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.banner-title {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
}

.subtitle-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 3.5rem;
  font-weight: bold;
}

.subtitle-highlight {
  color: #ff6600;
  margin-bottom: 10px;
}

.banner-quote {
  font-style: italic;
  margin-bottom: 20px;
}

.button-learn-more {
  margin-top: 20px;
  border: 2px solid #e55b00;
  border-radius: 8px;
  color: black;
  padding: 12px 40px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 250px;
}

.button-learn-more:hover {
  background-color: #e55b00;
}

.contact-details {
  display: flex;
  gap: 28px;
  font-size: 0.7rem;
  margin-top: 15px;
}

.contact-detail-item {
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
  font-size: 1rem;
}

/* Imagem no lado esquerdo */
.banner-image {
  width: 50%; /* A imagem ocupa 50% da largura */
  height: 100%; /* A imagem ocupa toda a altura */
  background-image: url('../img/banneer.svg'); /* Define a imagem de fundo */
  background-size: cover;
  background-position: center center; /* Centraliza a imagem */
  background-repeat: no-repeat;
}

/* Responsividade para telas menores (max-width 768px) */
@media (max-width: 768px) {
  .banner-container {
    flex-direction: column; /* Empilha os elementos em telas menores */
    padding: 10px; /* Ajusta o padding para telas menores */
  }

  .banner-content {
    max-width: 90%; /* Ajusta o tamanho do conteúdo */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaço abaixo do conteúdo */
  }

  .banner-image {
    width: 100%; /* A imagem vai ocupar toda a largura */
    height: 300px; /* Ajusta a altura da imagem */
  }
}

@media (max-width: 480px) {
  .banner-container {
    background-image: none; /* Remove o fundo em telas pequenas */
  }

  .banner-content {
    max-width: 95%; /* Ajusta o tamanho do conteúdo */
    text-align: center; /* Centraliza o texto */
  }

  .banner-image {
    height: 200px; /* Ajusta a altura da imagem */
  }
}
