.container-inicial {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.grid-A-iniciais{
    width: 100%;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
    flex-wrap: wrap;
}    
.grid-B-iniciais{
    width: 100%;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    flex-wrap: wrap;
}

/* Estilos para os cards */
.card-iniciais {
    background-color: var(--cor-branca);
    border: 1px solid var(--cor-laranja);
    border-radius: 30px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 339px;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    transition: all .2s;
}

.card-iniciais:hover {
    transform: scale(1.05);
}

.card-iniciais h2 {
    text-align: center;
}

.card-iniciais p {
    text-align: center;
}

@media screen and (max-width: 815px) {
    .grid-A-iniciais {
        padding-right: 0;
    }

    .grid-B-iniciais {
        padding-left: 0;
    }

    .card-iniciais {
        width: 100%;
    }
}